#projects {
  padding-top: 80px;     
  padding-bottom: 40px;
  margin-top: 0;          
}
@media (max-width: 768px) {
  #projects {
    margin-top: 30px;   
    padding-top: 20px;  
    padding-bottom: 50px;
  }
}
.projects-section {
  background-color: #f4f4f4;
  margin-top: 20px;
  padding: 60px 20px 60px 20px;  
  min-height: 100vh;
}

.projectname {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #222;
  margin-bottom: 40px;
  margin-top: 0;
  letter-spacing: 1px;
 
}

.projects-list {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.project-image {
  width: 100%;
  height: 150px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.project-link {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.project-link:hover {
  background-color: #0056b3;
}
.project-card p,
.project-card h3 {
  text-align: center;  
}
.read-more {
  color: #007BFF;
  cursor: pointer;
  font-weight: 500;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-content {
  background: #fff;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  padding: 30px 20px;
  position: relative;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  align-items: center;
  height: 30vh;
}

.modal-title {
  font-size: 1.6rem;
  margin-top: 10px;
  color: #333;
}

.modal-body img {
  width: 100%;
  height: 250px;
  border-radius: 6px;
  margin: 20px 0;
}

.modal-body p {
  margin-bottom: 20px;
  font-size: 1rem;
  color: #444;
  text-align: center;
  
}

.center-link {
  display: flex;
  justify-content: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 14px;
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color:red;
  cursor: pointer;
  padding: 4px 8px;
  line-height: 1;
  transition: color 0.3s ease;
}

.close-btn:hover {
  color: #007bff;
}

[data-aos] {
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: 1000ms;
  transition-timing-function: ease-out;
}

[data-aos].aos-animate {
  opacity: 1;
}

@media (max-width: 768px) {
  .project-card {
    width: 80%;
  }

  .modal-content {
    padding: 20px 10px;
  }
}
