 
.education-section {
  background-color: #f4f4f4;
  text-align: left;
  min-height: 100vh;
  padding: 80px 20px 20px 20px; 
  display: flex;
}


.education-content {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 30px;
  
  
}
.education-content h1 {
  font-size: 40px;
  margin-bottom: 40px;
  text-align: center;
  color: #222;
  font-weight: bold;
}

.education-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.education-card {
  /* background: rgba(255, 255, 255, 0.9); */
  background: linear-gradient(135deg, #eafafc);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #222;
  border-radius: 16px;
  padding: 25px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  backdrop-filter: blur(10px);
  width: 500px;
}

.education-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}

.education-card h2 {
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.education-card p,
.education-card li {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

.education-card ul {
  list-style-type: disc;
  padding-left: 20px;
}

.education-card li {
  margin-bottom: 6px;
}

.icon {
  font-size: 40px;
  color: #0077ff;
  margin-bottom: 15px;
  text-align: center;
}

@media (max-width: 768px) {
  .education-section {
    padding: 40px 15px;
  }
  
  .education-content h1 {
    font-size: 28px;
  }

  .education-card h2 {
    font-size: 20px;
  }
  .education-card{
    width: 80%;
    margin-left: 10px;
    
  }
  .education-card p,
  .education-card li {
    font-size: 15px;
  }
}
.view-skills-container {
  text-align: center;
  margin-top: 40px;
}


