.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: white;
  padding: 10px 20px;
  position: fixed;
  width:98%;
  top: 0;
  z-index: 1000;
}

.nav-logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-toggle {
  font-size: 28px;
  display: none;
  cursor: pointer;
}


.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links li {
  list-style: none;
}
/* 
.nav-links a {
  color:white;
  text-decoration: none;
  cursor:pointer;
} */
.nav-links a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}



@media screen and (max-width: 768px) {
  .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: white;
  padding: 10px 20px;
  position: fixed;
  width:93%;
  top: 0;
  z-index: 1000;
  }
  .nav-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    /* background-color: #333;  */
    background-color:skyblue; 
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    padding: 15px 0;
    text-align: center;
    width: 93%;
    margin-top: 0cap;
    
  }
  .nav-toggle {
  display: block;
  font-size: 24px;
  cursor: pointer;
  background-color: #444; 
  padding: 8px 12px;
  border-radius: 6px;
  color: white;
  transition: background-color 0.3s ease;
  
}

.nav-toggle:hover {
  background-color: #555;
}

}
