/* import img from '../src/assests/img.jpg'; */
* .home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #f0f0f0;
    text-align: center;
    width: 1400px;
    background-image: url('/src/assests/bimg2'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    /* padding: 20px; */
  }
  
  .home-content {
    max-width: 800px;
    padding: 20px;
  }
  
  .h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color:black;
    text-align: center;
  }
   .home-image {
    width: 100%;  /* Adjust width as needed */
    height:auto;
    border-radius: 8 px;  /* Makes it circular if it's a square image */
    margin: 20 px 0;

}
  
  
  p {
    font-size: 18px;
    color: #555;
  }
  
  .cta-button {
    background-color: #007bff;
    color:rgb(47, 47, 200);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }
  
  .portfolio-image {
    width: 80%; /* Adjust width to 80% of the parent container */
    max-width: 800px; /* Set a maximum width for larger displays */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Optional: Adds rounded corners */
    margin: 20px 0; /* Space above and below the image */
  }
  
 
  @media (max-width: 768px) {
    .portfolio-image {
      width: 100%; /* Full width on smaller screens */
    }
  }
